body{
	padding-top: 70px;
}

.bg-silver {
	background-color: #4c5264;
	color: white;
}
.text-green{
	color: #7ccfaf;
}
.no-padding{
	padding: 0px;
}

.nav-header{
	min-height: 70px;
}

.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 70px 0px 0px 0px;
}
.sidebar-sticky .nav-item.active > a {
	font-weight: bold;
}

.sidebar-sticky .nav-item > ul.nav{
	padding-left: 16px;

}

.sidebar-sticky .nav-item > ul.nav a{
	border-left: 2px solid  #e0e2e8;
}

.sidebar-sticky .nav-item > ul.nav .nav-item.active a {
	border-left: 2px solid #0a0a0a;
}

.sidebar-sticky .nav-item a{
	color: #5d6576;
	font-size: 13px;
}

.sidebar-sticky .sidebar-heading{
	font-size: 13px;
	text-transform: uppercase;
}

.logo{
	padding-right: 10px;
}

.logo img{
	max-width: 30px;
}

.content-section {
	min-width: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.content-section.left .border-top{
	border-top: 1px solid #c1c6d1 !important;
}
.content-section.left .border-bottom{
	border-bottom: 1px solid #c1c6d1 !important;
}

.content-section .right .border-bottom{
	border-bottom: 1px solid #3a3e4d !important;
}
.content-section .right .border-top {
	border-top: 1px solid #3a3e4d !important;
}
.content-section .attributes{
	padding-left: 20px;
}
.content-section .right .attributes .name{
	color: #41EAD4;
}

.content-section > div{
	padding-top: 20px;
}

.content-section > div:first-child,
.content-section > div:nth-child(2) {
	padding-top: 50px;
}

.content-section .left, .content-section .right{
	min-height: 100px;
	background: #fbfbfb;
}

.content-section .right{
	background-color: #2b2f3e;
	color: white;
}

.section-padding{
	padding: 0px 15px 0px 15px;
}

.content-section .section-title{
	border-bottom: 1px solid #c1c6d1;
	color: #3c4151;
	font-size: 32px;
	line-height: 52px;
	padding: 0px 15px 0px 15px;
}
.content-section  .attributes li{
	font-size: 13px;
	list-style-type: square;
}

.content-section  .attributes li .badge{
	font-size: 10px;
	line-height: 11px;
	margin-left: 5px;
}

.content-section  .attributes li .type{
	margin-left: 5px;
}

.content-section  .attributes li .attribute{
	border-bottom: 1px solid #00000012;
	padding: 6px 0px 6px 0px;
}

.content-section  .attributes li .attribute .name{
	font-style: italic;
	padding-right: 20px;
	font-weight: 400;
}

.content-section  .attributes li .attribute .name.required{
	font-weight: 700;
}

.content-section  .section-description{
	padding-top: 5px;
	padding-bottom: 10px;
}

.content-section .api-url{
	line-height: 52px;
	padding-bottom: 10px;
	background-color: #262c39;
	padding: 0px 15px 0px 15px;
}
.content-section .api-url .methods{
	display: inline-block;
}
.content-section .api-url .methods .badge{
	background: none;
	border: 2px solid #5d6577;
}
.content-section .api-url .methods .badge:last-of-type{
	margin-right: 15px;
}

.content-section .breadcrumb {
	background: transparent;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	padding-top: 0px;
	color: #a5a5a5;
}

.content-section .api-url .parameter{
	color: #41EAD4;
	font-weight: 500;
}
.raw-section{
	min-height: 100px;
}
.ace-monokai{
	background: #2b2f3e;
}
.ace-monokai .ace_gutter{
	background: #2b2f3e;
}
