{foreach $components as $component}
	{$component->renderDefinition()}
	{$component->renderExample()}
{/foreach}

<div class="col-lg-6 left no-padding">
</div>
<div class="col-lg-6 right no-padding">
</div>